$primary-color: #eee;
$light-primary-color: rgb(255, 106, 0);
$dark-primary-color: rgb(207, 90, 0);
$secondary-color: rgb(255, 0, 0);
$primary-text-color: white;
$color-darken-dark-1: #333333;
$color-navbar-rest: #999999;
$color-navbar-first: #222222;
$color-hover: #786d6d;
$collection-color: #fff;
